/* REFERENCES:

main color: rgba(0, 255, 60, 1);

*/


* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.piano-keys {
    height: 210px;
    width: 305px;
    display: block;
    margin: 0 auto;
    background-color: brown;
    margin-top: 30px;
}

.key {
    width: 30px;
    height: 200px;
    display: inline-block;
    border: solid black 2px;
    box-shadow: 2px 5px;
    background-color: white;
    color: darkblue;
    text-align: center;
    line-height: 350px;
}